<div>
    <p>Descriere:</p>
    <p>@Model.description</p>
    <br />
    <p>Data nasterii:</p>
    <p>@Model.birthDate.ToString("dd/MM/yyyy")</p>
    <br />
    <p>Hobbies:</p>
    <p>@Model.hobbies</p>
    <br />
    <p>Status:</p>
    <p>@Model.profileStatus</p>
    <br />

    <form method="post" action="/Profiles/Delete/@Model.profileId">

        @Html.HttpMethodOverride(HttpVerbs.Delete)

        <a class="btn btn-success" href="/Profiles/Edit/@Model.profileId">Editeaza profilul</a>

        <button class="btn btn-danger" type="submit">Sterge profilul</button>

    </form>
</div>
