
@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>

@using (Html.BeginForm(actionName: "Edit", controllerName: "Profiles"))
{
    @Html.HttpMethodOverride(HttpVerbs.Put)

    @Html.Label("Description", "Descriere")
    <br />
    @Html.TextBox("Description", null, new { @class = "form-control" })

    @Html.ValidationMessage("Description", null, new { @class = "text-danger" })
    <br />

    <label>
        Data nasterii
        <input class="form-control datepicker" type="text" name="BirthDate" value="@Model.BirthDate.ToShortDateString()"/>
    </label>
    <br />

    @Html.ValidationMessage("BirthDate", null, new { @class = "text-danger" })
    <br />

    @Html.Label("Hobbies", "Hobbies")
    <br />
    @Html.TextBox("Hobbies", null, new { @class = "form-control" })


    <button class="btn btn-sm btn-success" type="submit">Editeaza profilul</button>

}