
@{
    ViewBag.Title = "New";
}

<h2>New profile</h2>

@using (Html.BeginForm(actionName: "New", controllerName: "Profiles"))
{

    @Html.Label("Description", "Descriere")
    <br />
    @Html.TextBox("Description", null, new { @class = "form-control" })

    @Html.ValidationMessage("Description", null, new { @class = "text-danger" })
    <br />

    @Html.Label("BirthDate", "Data nasterii")
    <br />
    @Html.TextBox("BirthDate", null, new { @class = "form-control" })

    @Html.ValidationMessage("BirthDate", null, new { @class = "text-danger" })
    <br />

    @Html.Label("Hobbies", "Hobbies")
    <br />
    @Html.TextBox("Hobbies", null, new { @class = "form-control", @placeholder = "Introduceti data" })
    <br />
    <br />

    @Html.Label("Status", "Vizibilitatea profilului: ")

    <p>Public @Html.RadioButton("Status", true, new { @checked = "checked" })</p>
    <p>Private @Html.RadioButton("Status", false)</p>

    <br />

    <button class="btn btn-sm btn-success" type="submit">Creeaza profilul</button>

}