@model DAW_social_platform.Models.Group
@{
    ViewBag.Title = "Edit";
}

<h2>Editeaza grupul</h2>

@using (Html.BeginForm(actionName: "Edit", controllerName: "Groups"))
{
    @Html.HttpMethodOverride(HttpVerbs.Put)

    @Html.Label("GroupName", "Numele grupului")
    <br />
    @Html.Editor("GroupName")

    @Html.ValidationMessage("GroupName", null, new { @class = "text-danger" })
    <br />

    @Html.Label("Description", "Descrierea grupului")
    <br />
    @Html.TextBox("Description", null, new { @class = "form-control" })

    @Html.ValidationMessage("Description", null, new { @class = "text-danger" })


    <button class="btn btn-sm btn-success" type="submit">Modifica grupul</button>
}