@model DAW_social_platform.Models.Group
@{
    ViewBag.Title = "Edit";
}
<div class="title col-md-12" style="padding: 0;">
    <h2>Modifica acest grup</h2>
</div>

<form class="form col-md-4" action="/Groups/Edit/@Model.GroupId" method="post">
    @Html.HttpMethodOverride(HttpVerbs.Put)

    @Html.Label("GroupName", "Numele grupului")
    @Html.TextBox("GroupName", null, new { @class = "form-control" })
    @Html.ValidationMessage("GroupName", null, new { @class = "text-danger" })
    <br />
    <br />
    @Html.Label("Description", "Descrierea grupului")
    @Html.TextBox("Description", null, new { @class = "form-control" })
    @Html.ValidationMessage("Description", null, new { @class = "text-danger" })

    <br />
    <button class="btn btn-sm btn-success" type="submit">Finalizeaza</button>
</form>