@model DAW_social_platform.Models.Group
@{
    ViewBag.Title = "Show";
}

<h2>Afisare grup</h2>

<p>@Model.GroupName</p>
<br />

<p>@Model.Description</p>

<br />


<form method="post" action="/Groups/Delete/@Model.GroupId">

    @Html.HttpMethodOverride(HttpVerbs.Delete)

    <a class="btn btn-success" href="/Groups/Edit/@Model.GroupId">Editeaza grupul</a>

    <button class="btn btn-danger" type="submit">Sterge grupul</button>

</form>

<br />

@foreach (var message in Model.Messages)
{
    @Html.Partial("MessageInfo", message)
    <br />
}

<br />

<div class="container">
    <form method="post" action="/Groups/Show/@Model.GroupId">
        <div class="panel-body">
            <input type="hidden" name="groupId" value="@Model.GroupId" />
            <label>Continut mesaj</label>
            <br />
            <textarea class="form-control" name="MessageContent"></textarea>
            @Html.ValidationMessage("MessageContent", "", new { @class = "text-danger" })
            <br />
            <button class="btn btn-success " type="submit">Trimite mesaj</button>
        </div>
    </form>
</div>

<br />



