<div>
    <nav aria-label="Page navigation">
        <ul class="pagination">
            <li>
                @if (ViewBag.search != "")
                {
                    <a href="/Home/SearchInfo?page=1&search=@ViewBag.SearchString"
                       aria-label="Previous">
                        <span aria-hidden="true">&laquo;</span>
                    </a>
                }
                else
                {
                    <a href="/Home/SearchInfo?page=1" aria-label="Previous">
                        <span aria-hidden="true">&laquo;</span>
                    </a>
                }
            </li>
            @for (int i = 1; i <= ViewBag.lastPage; i++)
            {
                if (ViewBag.search != "")
                {
                    <li>
                        <a href="/Home/SearchInfo?page=@i&search=@ViewBag.SearchString">@(i)</a>
                    </li>
                }
                else
                {
                    <li><a href="/Home/SearchInfo?page=@i">@(i)</a></li>
                }
            }
            <li>
                @if (ViewBag.search != "")
                {
                    <a href="/Home/SearchInfo?page=@(ViewBag.lastPage)&search=@ViewBag.SearchString" arialabel="Next">
                        <span aria-hidden="true">&raquo;</span>
                    </a>
                }
                else
                {
                    <a href="/Home/SearchInfo?page=@(ViewBag.lastPage)" arialabel="Next">
                        <span aria-hidden="true">&raquo;</span>
                    </a>
                }
            </li>
        </ul>
    </nav>
</div>
<div class="title col-md-12" style="padding: 0;">
    <h2>Users</h2>
</div>
<br />
<br />@if (ViewBag.Users.Count == 0)
{
    <h4>Nothing to show.</h4>
}
@foreach (var user in ViewBag.Users)
{
    <div class="user">
        <div class="user-badge">@user.UserName.ToString().ToUpper()[0]</div>
        <div class="username"><b>&nbsp; @user.UserName</b></div>
    </div>

    <div class="panel-body" style="margin-left: 15px;">
        <i class="glyphicon glyphicon-envelope"></i> Email utilizator: <span class="label label-default">@user.Email</span>
        <br /><br />
        @if (@user.PhoneNumber != null)
        {
            <i class="glyphicon glyphicon-phone"></i>@:Telefon utilizator:<span class="label label-default">@user.PhoneNumber</span>
        }

    </div>

    <div class="user-footer">
        @foreach (var profile in ViewBag.Profiles)
        {
            if (profile.UserId == user.Id && profile.Status == true)
            {
                <a class="btn btn-success" style="float:left;" href="/Profiles/Show/@profile.ProfileId">Afisare profil</a>
            }
        }

        @if (ViewBag.usr != null)
        {
            foreach (var us in ViewBag.Addable)
            {
                if (us.Id == user.Id)
                {
                    using (Html.BeginForm(actionName: "Add", controllerName: "Users"))
                    {
                        <input type="hidden" name="reqId" value="@user.Id" />
                        <button class="btn btn-primary btn-join" style="float:right;" type="submit">Add+</button>
                    }
                }
            }
        }
    </div>

    <br />
}
<br />
<br />
<div class="title col-md-12" style="padding: 0;">
    <h2>Groups</h2>
</div>
@if (ViewBag.Groups.Count == 0)
{
    <h4>Nothing to show.</h4>
}
@foreach (DAW_social_platform.Models.Group group in ViewBag.Groups)
{
    if (group.Users.Where(u => u.UserId == ViewBag.usr).Count() == 1)
    {
        @Html.Partial("GroupInfoShow", group)
    }
    else if (group.Requests.Where(u => u.UserId == ViewBag.usr).Count() == 1)
    {
        @Html.Partial("GroupInfoReq", group)
    }
    else if (ViewBag.usr != null)
    {
        @Html.Partial("GroupInfoJoin", group)
    }
}